<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href = "/css/styles.css"> 
</head>
<body>
    <h2>
        {{ title }}
    </h2>
    <img src = "img/shrek.png">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur repellendus et consequatur? Ipsam maxime quod consectetur nihil quo officiis, voluptas iure accusamus temporibus distinctio cumque aliquid facere, numquam, modi repudiandae.
        <br> Created by {{ name }}
    </p>
</body>
</html>