<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href = "/css/styles.css"> 
</head>
<body>
    <h2>
        {{ title }}
    </h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto qui numquam deserunt? Hic, blanditiis corrupti! Sed maxime, soluta, iure aperiam laudantium, dolor odit libero nemo molestiae labore sapiente repellendus enim.
        <br> Created by {{ name }}
    </p>
</body>
</html>