<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href = "/css/styles.css"> 
    <script src = "/js/app.js">

    </script>
</head>
<body>
    <h2>
        {{ title }}
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est rerum facilis pariatur ipsa iste dolores doloremque suscipit, magni, recusandae autem expedita sunt laudantium harum. Nihil earum harum eligendi quibusdam!
        <br> Created by {{ name }}
    </p>
</body>

</html>